.youtubes-container {
    width: 80%;
    margin: 0 auto;
    border-width: 1px;
    border-style: solid;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 18px 16px 10px 26px;
    position: relative;
    -webkit-transform: translatez(0);
    display:none;
}

.youtubes-container h3 {
    color: #358ae0;
    font-size: 18px;
    line-height: 32px;
    padding: 0 0 5px 40px;
    font-weight: normal;
}

.search-box {
    position: absolute;
    top: 23px;
    right: 16px;
}

.searchfor {
    vertical-align: top;
}

.youtubes {
    overflow: auto;
    margin-top: 10px;
    padding: 0 10px 0 0;
    height: 400px;
}

.youtube {
    vertical-align: top;
    padding: 6px;
    border-width: 1px;
    border-style: solid;
    margin: 0 0 5px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.youtube img {
    float: left;
    margin-right: 10px;
}

.youtube .metadata {
    clear: left;
    padding-top: 6px;
    font-size: 10px;
}

.youtube .k-link:hover {
    text-decoration: underline;
}

.mostvwdlnk {
	padding-right: 10px;
}